BODY {
  background-color: rgba(116, 204, 222, 0.4);
}
.clock {
  position: absolute;
  z-index: 1;
  width: 500px;
  font-family: "Licorice", cursive;
  font-size: 70px;
  font-weight: bold;
  color: dimgrey;
  top: 30%;
  margin: 0 0 0 calc(50% - 250px);
  text-align: center;
  border: 10px;
  border-color: grey;
}
.setAlarmBtn {
  border-radius: 50%;
  padding: 20px;
  color: dimgrey;
}
.clock ul li {
  display: inline;
}
.alarmClock,
.showResult {
  position: absolute;
  z-index: 1;
  font-family: "Licorice", cursive;
  font-size: 40px;
  font-style: italic;
  margin: 0 0 0 calc(50% - 150px);
}
